body {
    margin: 0;
    padding: 0;
}

#main {
    width: 50%;
    margin: 0 auto;
    /*border: 1px solid red;  для примера */
}

.block {
    width: 100%;
    box-sizing: border-box;
}

#head {
    /*background-color: bisque;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px; 
}

#user {
    display: flex;           
    justify-content: flex-start;  
    align-items: center;        
    gap: 15px;
    /*border: 1px solid black;*/
    border-style: solid;
    border-color: rgb(252, 123, 123) rgb(255, 255, 255) rgb(64, 64, 121) rgb(255, 255, 255);
}

#buttons > a {
  display: inline-block;
  width: 80px;          
  text-align: center;    
  padding: 10px;
  background: rgba(238, 111, 111, 0.253);
  text-decoration: none;
  color: black;
  border-radius: 10px; 
}


#about_user {
   margin-left: 3%;
}


#user > img {
    max-width: 12vh;
    margin: 1vh;
}

#buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 50px; 
    padding: 10px 10px;
    margin-left: 340px; 
    margin-right: 300px;
    margin-bottom: 15px;
}

#images_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#images_block > img {
    width: 100%;
}

h3 {
    color: rgb(243, 139, 139);
}

footer {
    display: flex;
    height: auto;
    padding: 2%;
    width: 100%;
    justify-content: space-around;
}

#settings {
    color: black;
    /*background-color: mediumblue;*/
    text-decoration: none;  
}

.dots {
font-size: 30px;

}